@import "tailwindcss";

/* styles/globals.css 또는 app/globals.css */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900; /* variable font weight range */
  font-style: normal;
  font-display: swap;
}



body{
background-color:#f5f5f5;
font-family: 'Pretendard', sans-serif;
}


.main {
  background-color: #f5f5f5;
  height: 90vh;
  width:auto;

}

.home_hero {
  padding-top: 15vh;
  padding-bottom: 5vh;
  background: #f5f5f5;
  font-size: 36px;
  font-weight: 700;
  font-family: Pretendard Variable;
  text-align:center;
  align-content: center;
}

.home_project_section {
  height: 60vh;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
}

.home_design {
  height: 100%;
  width: 49%;
  background-color: #E3E3E3;
  border-radius: 1rem;
}

.home_development {
  height: 100%;
  width: 49%;
  border-radius: 1rem;
  background-color: #494FFF;
}

.project_hero {
  padding-top: 15vh;
  padding-bottom: 8vh;
  background: #f5f5f5;
  font-size: 36px;
  font-weight: 700;
  font-family: Pretendard Variable;
  text-align:center;
  align-content: center;
}

.project_project_section {
  height: 60vh;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
  border-radius: 1rem;
}

.project_design {
  /*position:relative;*/
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:5rem;
  align-items: center;

  overflow: hidden;
  transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project_design:hover {
  box-shadow: 0px 0px 20px rgba(123, 0, 0, 0.2); /* #494FFF 컬러 */
}

.project_design img{
  padding-bottom: 1rem;
  width:auto;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.4s ease-in-out;
}

.project_design:hover img{
  transform: scale(1.02);
}

.project_title{
  width:auto;
  display: flex;
  flex-direction: column;
}

.project_text {
  color: #A9A9A9;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: Pretendard Variable;
}

.about_content_wrapper{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.about_hero {
  width: 60%;
  background: #f5f5f5;
  font-size: 36px;
  font-weight: 700;
  font-family: Pretendard Variable;
  text-align: left;
  align-content: baseline;
}

.aboutTitles{
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.about_information {
  width: 45%;
  height: 100%;
  /*display: flex;*/
}

.aboutContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  
}

.titles {
  width: 30%;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 1rem;
}

.profileDescription{
  width: 70%;
  font-weight: 600;
}

.subTitle{
  font-weight: 600;
}

.aboutDescription {
  width: 70%;
}

.description{
  font-size: 14px;
  width:100%;
}

.experienceDescription{
  width: 70%;
}

.toolsDescription {
  display: flex;
  flex-direction: column;
}

.toolsGrid {
  display: flex;
  flex-direction: column;
}

.projectContainer{
  display: flex;
  flex-direction: column;
}

.downloadButtons {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.projectDetail {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 36px;
  font-weight: 700;
  font-family: Pretendard Variable;
  text-align:left;
  align-content: center;
}

.semi-title {
  font-family: Pretendard Variable;
  font-weight: 500;
}